<%= form_for(@ergo) do |f| %>
  <% if @ergo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ergo.errors.count, "error") %> prohibited this ergo from being saved:</h2>

      <ul>
      <% @ergo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
