<h1>Ergo Scores</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Score</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ergos.each do |ergo| %>
      <tr>
        <td><%= ergo.description %></td>
        <td><%= ergo.score %></td>
        <td><%= ergo.user.email if ergo.user %></td>
        <td><%= link_to 'Show', ergo %></td>
        <% if ergo.user == current_user %>
          <td><%= link_to 'Edit', edit_ergo_path(ergo) %></td>
          <td><%= link_to 'Destroy', ergo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Ergo', new_ergo_path %>
<% end %>