<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ergo.description %>
</p>

<p>
  <strong>Score:</strong>
  <%= @ergo.score %>
</p>

<%= link_to 'Edit', edit_ergo_path(@ergo) %> |
<%= link_to 'Back', ergos_path %>
