<div class="kutija">
  <h1>Morning Monitoring</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Heart Rate</th>
      <th>Sleep</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.morning_monitorings.each do |morning_monitoring| %>
      <tr>
        <td><%= morning_monitoring.hr %></td>
        <td><%= morning_monitoring.sleep %></td>
        <td><%= morning_monitoring.notes %></td>
        <td><%= link_to '', morning_monitoring, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_morning_monitoring_path(morning_monitoring), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', morning_monitoring, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Morning Monitoring', new_morning_monitoring_path, class: "btn btn-success" %>
<% end %>
</div>