<p id="notice"><%= notice %></p>

<div class="jumbotron center">
    <div class="row">
        <div class="panel panel-default">
  		    <div class="panel-heading">
            <h2 class="panel-title">View Morning Monitoring</h2>
        </div>
        <div class="panel-body">

<h3>
  <strong>Heart Rate:</strong>
  <%= @morning_monitoring.hr %>
</h3>

<h3>
  <strong>Sleep:</strong>
  <%= @morning_monitoring.sleep %>
</h3>

<h3>
  <strong>Notes:</strong>
  <%= @morning_monitoring.notes %>
</h3>
</div>
 		<div class="panel-body">
 			<% if @morning_monitoring.user == current_user %>
<%= link_to 'Edit', edit_morning_monitoring_path(@morning_monitoring), class: "btn btn-warning btn" %> |
		<% end %>
<%= link_to 'Back', morning_monitorings_path, class: "btn btn-info btn" %>
		</div>
    </div>
  </div>
</div>