<%= form_for(@pb) do |f| %>
  <% if @pb.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pb.errors.count, "error") %> prohibited this pb from being saved:</h2>

      <ul>
      <% @pb.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel-body">
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :split %><br>
    <%= f.text_field :split %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :rate %><br>
    <%= f.number_field :rate %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :watt %><br>
    <%= f.number_field :watt %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
