<p id="notice"><%= notice %></p>

<p>
  <strong>Distance:</strong>
  <%= @pb.distance %>
</p>

<p>
  <strong>Split:</strong>
  <%= @pb.split %>
</p>

<p>
  <strong>Time:</strong>
  <%= @pb.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pb.date %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @pb.rate %>
</p>

<p>
  <strong>Watt:</strong>
  <%= @pb.watt %>
</p>

<%= link_to 'Edit', edit_pb_path(@pb) %> |
<%= link_to 'Back', pbs_path %>
