<p id="notice"><%= notice %></p>

<div class="jumbotron center">
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">View PBs</h1>
        </div>
        <div class="panel-body">

<h3>
  <strong>Distance:</strong>
  <%= @pb.distance %>
</h3>

<h3>
  <strong>Split:</strong>
  <%= @pb.split %>
</h3>

<h3>
  <strong>Time:</strong>
  <%= @pb.time %>
</h3>

<h3>
  <strong>Rate:</strong>
  <%= @pb.rate %>
</h3>

<h3>
  <strong>Date:</strong>
  <%= @pb.date %>
</h3>

<h3>
  <strong>Watt:</strong>
  <%= @pb.watt %>
</h3>

</div>
    <div class="panel-body">
    <% if @pb.user == current_user %>
<%= link_to 'Edit', edit_pb_path(@pb), class: "btn btn-warning btn" %> |
<% end %>
<%= link_to 'Back', pbs_path, class: "btn btn-info btn" %>
</div>
    </div>
  </div>
</div>