<%= form_for(@water) do |f| %>
  <% if @water.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water.errors.count, "error") %> prohibited this water from being saved:</h2>

      <ul>
      <% @water.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="panel-body">
  <div class="field">
    <%= f.label :distance %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="field">
    <%= f.label :Boat_Type %><br>
    <%= f.text_field :BoatType %>
  </div>
  <div class="field">
    <%= f.label :Session_Description %><br>
    <%= f.text_field :SessionDescription %>
  </div>
  <div class="field">
    <%= f.label :crew %><br>
    <%= f.text_field :crew %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
