<div class="kutija">
<h1>Water Sessions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Boat Type</th>
      <th>Session Description</th>
      <th>Crew</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.waters.each do |water| %>
      <tr>
        <td><%= water.distance %></td>
        <td><%= water.BoatType %></td>
        <td><%= water.SessionDescription %></td>
        <td><%= water.crew %></td>
        <td><%= water.notes %></td>
        <td><%= link_to '', water, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_water_path(water), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', water, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Water', new_water_path, class: "btn btn-success" %>
<% end %>
</div>