<h1>Listing weights</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.weights.each do |weight| %>
      <tr>
        <td><%= weight.exercise %></td>
        <td><%= weight.reps %></td>
        <td><%= weight.weight %></td>
        <td><%= weight.sets %></td>
        <td><%= weight.notes %></td>
        <td><%= link_to '', weight, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_weight_path(weight), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', weight, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weights Session', new_weight_path, class: "btn btn-success" %>
