<% if user_signed_in? %>

<div class="jumbotron center">

    
     	<p>Record a new session: <%= link_to 'Ergo', new_ergo_path, class: "btn btn-success" %> <%= link_to 'Weights', new_weight_path, class: "btn btn-warning" %></p>
     	<p>View previous sessions: <%= link_to 'Ergos', ergos_path, class: "btn btn-info" %> <%= link_to 'Weights', weights_path, class: "btn btn-info" %></p>
</div>
    <table class="table table-striped">
    <h3>Ergos Sessions</h3>
    <thead>
    <tr>
      <th>Distance</th>
      <th>Split</th>
      <th>Time</th>
      <th>Notes</th>
      <th>Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

      <tbody>
    <% current_user.ergos.each do |ergo| %>
      <tr>
        <td><%= ergo.distance %></td>
        <td><%= ergo.split %></td>
        <td><%= ergo.time %></td>
        <td><%= ergo.notes %></td>
        <td><%= ergo.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to '', ergo, class: "glyphicon glyphicon-zoom-in" %></td>
        <% if ergo.user == current_user %>
          <td><%= link_to '', edit_ergo_path(ergo), class: "glyphicon glyphicon-plus" %></td>
          <td><%= link_to '', ergo, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
    </table>
<table class="table table-striped">
        <h3>Weights Sessions</h3>
    <thead>
        <thead>
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.weights.each do |weight| %>
      <tr>
        <td><%= weight.exercise %></td>
        <td><%= weight.reps %></td>
        <td><%= weight.weight %></td>
        <td><%= weight.sets %></td>
        <td><%= weight.notes %></td>
        <td><%= weight.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to '', weight, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_weight_path(weight), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', weight, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

         <% else %>

          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="active item"><img src='/assets/1.jpg'></div> 
      <div class="carousel-caption">
        <h1>Your Online Rowing Diary</h1>
              <p class="lead"></p>
              <%= link_to "Sign up today", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="item">
      <div class="item"><img src='/assets/3.jpg'></div>
      <div class="carousel-caption">
        <h1>Put yourself in the lead.</h1>
              <p class="lead">Rowing Diary allows you to store and view all your training data online.</p>
              <%= link_to "Sign up today", new_user_registration_path, class: "btn btn-large btn-primary" %>
      </div>
    </div>
    <div class="item">
      <div class="item"><img src='/assets/4.jpg'></div>  
      <div class="carousel-caption">
        <h1>The Race is on.</h1>
              <p class="lead">Join thousands of Rowers already using Rowing Diary as their personal diaries.</p>
              </p><%= link_to "Log in", user_session_path, class: "btn btn-large btn-info" %> <%= link_to "Sign up today", new_user_registration_path, class: "btn btn-large btn-primary" %>
              <% end %>
      </div>
    </div>  
  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
