<div class="jumbotron center">

     <% if user_signed_in? %>
     	<p>Record a new ergo session: <%= link_to 'New ergo', new_ergo_path, class: "btn btn-success" %></p>
     	<p>View previous sessions: <%= link_to 'View', ergos_path, class: "btn btn-info" %></p>

    <table class="table table-striped">
  <thead>
    <tr>
      <th>Distance</th>
      <th>Split</th>
      <th>Time</th>
      <th>Notes</th>
      <th>Created</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.ergos.each do |ergo| %>
      <tr>
        <td><%= ergo.distance %></td>
        <td><%= ergo.split %></td>
        <td><%= ergo.time %></td>
        <td><%= ergo.notes %></td>
        <td><%= ergo.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to 'Show', ergo, class: "btn btn-info btn-xs" %></td>
        <% if ergo.user == current_user %>
          <td><%= link_to 'Edit', edit_ergo_path(ergo), class: "btn btn-warning btn-xs" %></td>
          <td><%= link_to 'Destroy', ergo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

    
     <% else %>
     	<h2>Welcome to Rowing Diary!</h2>
     	<p>Manage your ergo scores online.</p>
     	<p><%= link_to "Log in", user_session_path, class: "btn btn-info btn-lg" %>
    	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>    

  	<% end %>

</div>
