<div class="jumbotron center">

     <% if user_signed_in? %>
     	<p>Record a new session: <%= link_to 'Ergo', new_ergo_path, class: "btn btn-success" %> <%= link_to 'Weights', new_weight_path, class: "btn btn-warning" %></p>
     	<p>View previous sessions: <%= link_to 'Ergos', ergos_path, class: "btn btn-info" %> <%= link_to 'Weights', weights_path, class: "btn btn-info" %></p>

    <table class="table table-striped">
    <h3>Ergos Sessions</h3>
    <thead>
        <tr>
          <th>Distance</th>
          <th>Split</th>
          <th>Time</th>
          <th>Notes</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
    </thead>

      <tbody>
        <% current_user.ergos.each do |ergo| %>
          <tr>
            <td><%= ergo.distance %></td>
            <td><%= ergo.split %></td>
            <td><%= ergo.time %></td>
            <td><%= ergo.notes %></td>
            <td><%= ergo.created_at.strftime("%d %b %Y") %></td>
            <td><%= link_to '', ergo, class: "glyphicon glyphicon-zoom-in" %></td>
            <% if ergo.user == current_user %>
              <td><%= link_to '', edit_ergo_path(ergo), class: "glyphicon glyphicon-pencil" %></td>
              <td><%= link_to '', ergo, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
<table class="table table-striped">
        <h3>Weights Sessions</h3>
    <thead>
        <thead>
    <tr>
      <th>Exercise</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Sets</th>
      <th>Notes</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.weights.each do |weight| %>
      <tr>
        <td><%= weight.exercise %></td>
        <td><%= weight.reps %></td>
        <td><%= weight.weight %></td>
        <td><%= weight.sets %></td>
        <td><%= weight.notes %></td>
        <td><%= weight.created_at.strftime("%d %b %Y") %></td>
        <td><%= link_to '', weight, class: "glyphicon glyphicon-zoom-in" %></td>
        <td><%= link_to '', edit_weight_path(weight), class: "glyphicon glyphicon-pencil" %></td>
        <td><%= link_to '', weight, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

         <% else %>
         	<h2>Welcome to Rowing Diary!</h2>
         	<p>Manage your ergo scores online.</p>
         	<p><%= link_to "Log in", user_session_path, class: "btn btn-info btn-lg" %>
        	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>    

      	<% end %>

</div>
